
body{
   background-color: rgb(90, 199, 241) ;
}.container{
    width: 960px;
    margin:0px auto;
    background-color: rgb(213, 248, 248);
    box-sizing: border-box;
    padding: 10px;

    font-family: 'Readex Pro', sans-serif;
}
.hero{
    height: 431px;
    background-image: url(src/hero.png);
    margin:10px auto;
    border-bottom: 5px solid rgb(0, 160, 223);
    background-size: cover;
}
h3{
    color: rgb(90, 199, 241);
    margin-left: 30px;
    font-family: 'Readex Pro', sans-serif;
    
}
.biografi img{

    float :left;
    width: 100px;
    box-sizing: border-box;
    margin: 10px;
}
.biografi img:hover{

    float :left;
    width: 150px;
    box-sizing: border-box;
    margin: 10px;
}
.header{
    margin-top: -10px;
    padding-left: 30px;
    font-family: 'Readex Pro', sans-serif;
    
}
.header h1{
    position: absolute;
    top :60px;
    color: rgb(0, 160, 223);
    font-weight: bold;
   
}
.header h4{
    position: absolute;
    top :40px;
    
}
.header p{
    position: absolute;
    top :150px;
    width: 500px;
    
}
.navigation{
    width: 750px;
    
   box-sizing: border-box;
    margin : 20px auto;
}
.nav{
    color: white;
    font-family: 'Readex Pro', sans-serif;
    font-weight: bold;
}
.itsme, .navskill , .navcontact{
    margin-left: 5px;
    width: 220px;
    height: 240px;
    background-color: rgb(90, 199, 241);
    float: left;
    text-align: center;
    padding: 5px;
    font-family: 'Readex Pro', sans-serif;
    color: white;
}

.nav:hover{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.nav:active{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Readex Pro', sans-serif;
}
.nav:visited{
    color: rgb(255, 255, 255);
}


.skill{
    width: 600px;
    
    float: left;
}



.table{
    width: 300px;
  
    float: left;
}
.form{
    width: 360px;
    
}
.sosmed{
    width: 300px;
    
   box-sizing: border-box;
    margin-top: 20px;
    margin-left: -11px;
    


}
.ig , .wa , .fb{
    display: inline-block;
    margin-left: 20px;
}

.ig img:hover , .wa img:hover , .fb img:hover{
    width: 50px;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}